title Vanilla
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, user-scalable=no")

script(src="assets/js/build.min.js")
script(src"assets/js/libraries/jquery.min.js")

link(href="assets/css/main.min.css")